* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-brown {
  background-color: #98694d;
  color: white;
  -webkit-transition: 0.9s all;
  transition: 0.9s all;
}

.btn-hover:hover {
  color: white !important;
  background-color: gray;
}

.container {
  width: 90%;
  margin: auto;
}

.btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: px;
  cursor: pointer;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes up {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.toolbar {
  border-bottom: 2px solid gray;
  padding: 14px;
  padding-top: 0px;
  text-transform: uppercase;
}

.toolbar .container {
  overflow: hidden;
}

.toolbar .container .lang {
  float: left;
  padding-top: 30px;
}

.toolbar .container .lang a {
  text-decoration: none;
}

.toolbar .container .lang a:hover {
  color: white !important;
  background-color: gray;
}

.toolbar .container .lang button {
  margin-left: 10px;
}

.toolbar .container .lang button:hover {
  color: white !important;
  background-color: gray;
}

.toolbar .container .lang .rel {
  position: relative;
}

.toolbar .container .lang .rel .abs {
  position: absolute;
  top: -19px;
  background-color: gray;
  padding: 9px;
  border-radius: 22px;
  left: 50px;
}

.toolbar .container .login {
  float: right;
  padding-top: 30px;
}

.toolbar .container .login button {
  margin-right: 10px;
}

.toolbar .container .login button:hover {
  color: white !important;
  background-color: gray;
}

.toolbar .container .login a {
  text-decoration: none;
}

.toolbar .container .login a:hover {
  color: white !important;
  background-color: gray;
}

.toolbar .container .login i {
  padding-right: 5px;
}

.toolbar .container .rel2 {
  position: relative;
}

.toolbar .container .rel2 .abs2 {
  position: absolute;
  top: -19px;
  background-color: gray;
  padding: 9px;
  border-radius: 22px;
  right: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .toolbar .container .lang {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 39px;
  }
  .toolbar .container .login {
    float: none;
    display: block;
    text-align: center;
    padding-top: 20px;
    margin-left: 40px !important;
    padding-right: 0px;
    margin-right: 0px;
  }
  .toolbar .container .login button {
    margin-right: 0px;
  }
  .toolbar .container .login .rel2 {
    position: relative;
  }
  .toolbar .container .login .rel2 .abs2 {
    position: absolute;
    top: -25px;
    background-color: gray;
    padding: 9px;
    border-radius: 22px;
    right: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  .toolbar .container .lang {
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 38px;
  }
  .toolbar .container .login {
    float: none;
    display: block;
    text-align: center;
    padding-top: 25px;
  }
  .toolbar .container .login button {
    margin-right: 0px;
  }
}

nav .container {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container i {
  padding-left: 5px;
}

nav .container .logo {
  width: 7%;
  height: auto;
}

nav .container .logo img {
  width: 100%;
}

nav .container .dropdown {
  position: relative;
}

nav .container .dropdown-menu {
  position: absolute;
  width: 249px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px  grey;
          box-shadow: 2px 2px 2px  grey;
  padding: 10px;
  text-align: center;
  color: white;
  border: 1px solid gray;
  top: 137%;
  left: -39%;
  z-index: 99999999999;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

nav .container .dropdown-menu li {
  margin: 10px;
}

nav .container .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

nav .container .dropdown2 {
  position: relative;
}

nav .container .dropdown2 i {
  padding-left: 0px;
  padding-right: 2px;
}

nav .container .dropdown-menu2 {
  position: absolute;
  width: 243px;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px  grey;
          box-shadow: 2px 2px 2px  grey;
  padding: 10px;
  text-align: center;
  color: white;
  border: 1px solid gray;
  top: -97%;
  left: -125%;
  z-index: 99999999999;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

nav .container .dropdown-menu2 li {
  margin: 10px;
}

nav .container .dropdown2:hover .dropdown-menu2 {
  opacity: 1;
  visibility: visible;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

nav .container .list {
  margin-left: 3%;
  width: 63%;
  margin-top: 35px;
}

nav .container .list li {
  float: left;
  list-style: none;
  margin-right: 17px;
}

nav .container .list li a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 10px;
  border-radius: 15px;
}

nav .container .list li a:hover {
  background-color: #98694d;
  color: white;
}

nav .container .search {
  margin-left: 20px;
  width: 10%;
  margin-top: 35px;
  width: 25%;
}

nav .container .search input {
  border: 1px solid gray;
  padding: 12px;
  width: 230px;
  outline: none;
  border-radius: 10px;
}

.checkbtn {
  font-size: 30px;
  color: #98694d;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.header {
  background-color: #98694d;
  width: 100%;
  height: 600px;
  border: 2px solid gray;
}

.list {
  margin-top: 10px;
}

.list .png img {
  width: 100%;
}

.app {
  margin-top: 100px;
}

.app .container {
  overflow: hidden;
}

.app .container .phone {
  float: left;
  width: 45%;
}

.app .container .phone img {
  width: 100%;
  -webkit-animation: up 2s infinite;
          animation: up 2s infinite;
}

.app .container .info {
  float: right;
  width: 45%;
  overflow: hidden;
}

.app .container .info h1 {
  color: #98694d;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

.app .container .info p {
  color: gray;
}

.app .container .info button {
  padding-top: 0px;
  outline: none;
  border: none;
  margin-top: 10px;
  background-color: transparent;
  border: 2px solid #98694d;
  padding: 5px;
  margin-right: 10px;
  border-radius: 20px;
}

.app .container .info button h3 {
  color: #98694d;
}

.app .container .info button h6 {
  color: gray;
}

.app .container .info button i {
  color: #98694d;
  font-size: 60px;
}

.app .container .info button:hover {
  -webkit-box-shadow: 0px 0px 13px #98694d;
          box-shadow: 0px 0px 13px #98694d;
}

.app .container .info button:hover i {
  -webkit-animation: up 1s infinite;
          animation: up 1s infinite;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app .container .phone {
    width: 100%;
    display: block;
    margin: auto;
    float: none;
  }
  .app .container .info {
    width: 100%;
    float: none;
    display: block;
    margin: 50px auto;
    text-align: center;
  }
  .app .container button {
    padding-top: 0px;
    padding: 5px;
    margin-right: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .app .container .phone {
    width: 100%;
    display: block;
    margin: auto;
    float: none;
  }
  .app .container .info {
    width: 100%;
    float: none;
    display: block;
    margin: 50px auto;
    text-align: center;
  }
  .app .container button {
    padding-top: 0px;
    padding: 5px;
    margin-right: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .app {
    margin-top: 60px;
  }
  .app .container {
    overflow: hidden;
  }
  .app .container .phone {
    float: left;
    width: 45%;
    margin-top: 60px;
  }
  .app .container .phone img {
    width: 100%;
  }
  .app .container .info {
    float: right;
    width: 48%;
    overflow: hidden;
  }
  .app .container .info h1 {
    font-size: 30px;
  }
  .app .container .info p {
    font-size: 14px;
  }
  .app .container .info .icon {
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    padding: 5px;
  }
  .app .container .info .icon i {
    font-size: 50px;
  }
  .app .container .info .icon button h3 {
    font-size: 20px;
  }
  .app .container .info .icon button h6 {
    font-size: 15px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 990px) {
  .app {
    margin-top: 60px;
  }
  .app .container {
    overflow: hidden;
  }
  .app .container .phone {
    float: left;
    width: 50%;
    margin: none;
    margin-top: 0px;
  }
  .app .container .phone img {
    width: 100%;
  }
  .app .container .info {
    float: right;
    width: 48%;
    overflow: hidden;
    margin-top: 70px;
  }
  .app .container .info h1 {
    font-size: 40px;
    margin: 0px;
  }
  .app .container .info p {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .app {
    margin-top: 60px;
  }
  .app .container {
    overflow: hidden;
  }
  .app .container .phone {
    float: left;
    width: 40%;
    margin: none;
    margin-top: 60px;
  }
  .app .container .phone img {
    width: 100%;
  }
  .app .container .info {
    float: right;
    width: 48%;
    overflow: hidden;
    margin-top: 70px;
  }
  .app .container .info h1 {
    font-size: 45px;
    margin-bottom: 10px;
  }
  .app .container .info p {
    font-size: 16px;
  }
}

.footer {
  background-color: #444444;
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 5px;
}

.footer .container {
  overflow: hidden;
}

.footer .container .links {
  float: left;
  width: 15%;
}

.footer .container .links ul {
  padding-bottom: 10px;
}

.footer .container .links ul li {
  list-style: none;
  padding: 5px;
}

.footer .container .links ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer .container .links ul li a:hover {
  color: #98694d;
}

.footer .container .links .border1 {
  border-bottom: 2px solid white;
}

.footer .container form {
  float: right;
  width: 50%;
  background-color: #98694d;
  padding: 15px;
  border-radius: 20px;
  color: white;
}

.footer .container form .all div label {
  font-size: 17px;
}

.footer .container form .all div input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: none;
}

.footer .container form .all div textarea {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 20px;
  border: none;
}

.footer .container form button {
  border: 2px solid gray;
  -webkit-box-shadow: 0px 0px 0px 1px gray;
          box-shadow: 0px 0px 0px 1px gray;
}

.footer .container form button:hover {
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 0px 1px white;
          box-shadow: 0px 0px 0px 1px white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer .container .links {
    float: none;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .footer .container form {
    float: none;
    width: 100%;
    margin: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer .container .links {
    float: none;
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }
  .footer .container form {
    float: none;
    width: 100%;
    margin: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer .container .links {
    float: left;
    width: 40%;
  }
  .footer .container form {
    float: right;
    width: 50%;
    margin-top: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer .container .links {
    float: left;
    width: 40%;
    text-align: left;
  }
  .footer .container form {
    float: right;
    width: 50%;
    margin-top: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer .container .links {
    float: left;
    width: 40%;
    text-align: left;
  }
  .footer .container form {
    float: right;
    width: 50%;
    margin-top: 10px;
  }
}

.contact {
  background-color: #98694d;
  padding: 15px;
  color: white;
  left: 31%;
  top: 24%;
}

.contact i {
  color: white;
  padding-right: 10px;
  font-size: 22px;
}

.contact a {
  color: white;
  text-decoration: none;
}

.contact .media {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.contact .media span {
  margin: 10px;
}

.contact .social {
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

.contact .text-center {
  text-align: center;
}

.contact h1 {
  font-size: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 700px) {
  .contact .container .media span {
    display: block;
  }
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #98694d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999999999999;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: gray;
}

::-webkit-scrollbar-thumb {
  background-color: #98694d;
  border-radius: 20px;
  border: 1px solid #000;
}
/*# sourceMappingURL=style.css.map */


/*start of working of navbar media mobile*/

@media(max-width:1000px){
  .checkbtn{
    display: block;
  }
  #check:checked ~ .list{
    display: block;
    z-index: 9999999999999;
  }
  nav .container{
    display:unset;
  }
  nav .container .logo{
    width:80px;
    float:left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  nav .container .list{
    width:100%;
    margin:0px;
    margin-top:106px;
    display: none;
  }
  nav .container .list li{
    display:block;
    float:none;
    padding:10px;
    margin-bottom:10px;
  }
  nav .container .dropdown-menu{
    width: 100%;
    top: 60px;
    left: 0;
  }
  nav .container .list li.dropdown2:hover ul{
    display:block;
  }
  nav .container .dropdown-menu2{
     position: relative;
    display: none;
    opacity: 1;
    visibility: unset;
    left: unset;
    top: unset;
    width: 100%;
  }
  nav .container .list li a{
    display:block;
  }
  nav .container .search{
    margin:0px;
    margin-top:10px;
    width:98%;
    margin-left:2%;
  }
  
}





/*end of working of navbar media mobile*/