*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 3000px;
}
/* start puplic class */
.container{
    width: 80%;
    margin: auto;
}
/* start navbar */
.navbar{
    background-color: #0fc690;
    padding: 20px;
}
.navbar .container{
    color: white;
    overflow: hidden;
}
.navbar .container .logo{
    float: left;

}
.navbar .container .logo h2{
    font-size: 45px;
    text-transform:uppercase;
}
.navbar .container ul {
    float: right;
    margin-top: 18px;
}
.navbar .container ul li {
    float: left;
    list-style: none;
    margin-right: 40px;
    font-size: 20px;
    text-transform: uppercase;
}
.navbar .container ul li a{
    color: white;
    text-decoration: none;
    transition: 0.6s all;
}
.navbar .container ul li a.active{
    color: black;
}
.navbar .container ul li a:hover{
    color: black;
}
.navbar .container span i {
    font-size: 23px;
    cursor: pointer;
}
/* start header */
.header{
    background-image: url("images/banner2.png");
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}
.header .info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}
.header .info h1{
    font-size: 80px;
}
.header .info p{
    font-size: 22px;
    line-height: 1.5;
    color: rgb(226, 225, 225);
    width: 1000px;
    margin-top: 20px;
}
.header .info button{
    background-color: #0fc690;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-top: 22px;
}
.header .info span{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s all;
}
.header .info span:hover{
    background-color: #0fc690;
    color: white;
}
.header .info span:first-of-type{
    position: absolute;
    left: -174px;
    top: 100px;
}
.header .info span:last-of-type{
    position: absolute;
    right: -174px;
    top: 100px;
}
/* start about */
.about .container{
    position: relative;
}
.about .container .info{
    position: absolute;
    left: 0%;
    top: 90px;
    text-align: center;
}
.about .container .info h1{
    font-size: 50px;
    border-bottom: 1px solid #0fc690;
    width: 450px;
    margin: auto;
}
.about .container .info p{
    font-size: 20px;
    color: rgb(59, 59, 59);
    margin-top: 30px;
    line-height: 1.5;
}
.about .container .about-img{
    position: absolute;
    top: 350px;
    left: 200px;
    /* animation: up 2s infinite; */
    animation: down 3s infinite;
}
@keyframes down{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
/* @keyframes up{
    0%{
        transform: translateY(-7px);
    }
    50%{
        transform: translateY(7px);
    }
    100%{
        transform: translateY(-7px);
    }
} */
.about .container button{
    background-color: #000;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 20px 40px;
    margin-top: 22px;
    position: absolute;
    top: 900px;
    left: 450px;
    cursor: pointer;
    transition: 0.5s all;
}
.about .container button:hover{
    background-color: #0fc690;
}
/* start services */
.services .container{
    position: relative;
}
.services .container .info{
    position: absolute;
    left: 0%;
    top: 1100px;
    text-align: center;
}
.services .container .info h1{
    font-size: 50px;
    border-bottom: 1px solid #0fc690;
    width: 200px;
    margin: auto;
}
.services .container .info p{
    font-size: 20px;
    color: rgb(59, 59, 59);
    margin-top: 30px;
    line-height: 1.5;
}
.services .container .imgs{
    position: absolute;
    left: 0%;
    top: 1350px;
    text-align: center;
}
.services .container .imgs .three{
    overflow: hidden;
    margin-bottom: 40px;
}
.services .container .imgs .three div{
    width: 33%;
    float: left;
    padding-left: 30px;
    position: relative;
    /* overflow: hidden; */
}
.services .container .imgs .three div img{
    width: 100%;
    transition: 0.5s all;
}
.services .container .imgs .three div img:hover{
    transform: scale(1.1);
   }
.services .container .imgs .three div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    text-transform: uppercase;
    font: 25px;
    color: #0fc690;
    z-index: 999;
}
/* .services .container .imgs .three div .overlay{
    position: absolute;
    background-color: #0fc690;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    display: none;
    transition: 00.5s all;
} */
/* .services .container .imgs .three div:hover .overlay{
    display: block;
} */